*

!app/
!extern/
!lib/
!data/
!CMakeLists.txt
!README.md
!.gitignore
!LICENSE
!app/**
!extern/**
!lib/**

!data/dataset_summary.txt
!data/dataset_mapping.txt
!data/dataset001.hgr
!data/dataset002.hgr
!data/dataset003.hgr
!data/dataset004.hgr
!data/dataset005.hgr
!data/dataset006.hgr
!data/dataset007.hgr
!data/dataset008.hgr
!data/dataset009.hgr
!data/dataset010.hgr
